h4 {
  text-transform: capitalize;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.theme-picker {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.counter-container {
  width: 100rem;
  margin-top: 5rem;
}

.button.button-outline.green {
  background-color: transparent;
  border-color: green;
  color: green;
}

.button.button-outline.red {
  background-color: transparent;
  border-color: red;
  color: red;
}
